<label for="{{ field }}_begin">Начало интервала {{ comment }}</label>
<input type="text" id="{{ field }}_begin" class="has_datetimepicker" name="{{ field }}[begin]"
       placeholder="Начало интервала {{ comment }}" form="postForm" readonly>
<label for="{{ field }}_end">Конец интервала {{ comment }}</label>
<input type="text" id="{{ field }}_end" class="has_datetimepicker" name="{{ field }}[end]"
       placeholder="Конец интервала {{ comment }}" form="postForm" readonly>